.header {
  &__flex-wrapper {
    // @media screen and(min-width: $mobile)
    display: none;
  }
  //   &__logo {
  //   }
}
// .header-btn-list {
//   &__button {
//   }
//   &__button-lang {
//   }
//   &__item {
//   }
// }

// .button-log {
// }
// .button-reg {
// }

// .logo {
// }
.menu {
  &__item:hover > .submenu__list {
    visibility: visible;
    position: static;
  }
  //   &__link{}

  //   &__list {
  //   }
}
.submenu {
  //   &__item {
  //   }
  //   &__link{
  //   }

  &__list {
    position: absolute;
    visibility: hidden;
  }
}
