.header {
  box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: #ffffff;
  &__flex-wrapper {
    // @media screen and(min-width: $mobile)
    display: none;
  }
  //   &__logo {
  //   }
}
// .header-btn-list {
//   &__button {
//   }
//   &__button-lang {
//   }
//   &__item {
//   }
// }

// .button-log {
// }
// .button-reg {
// }

// .logo {
// }
.menu {
  &__item:hover > .submenu__list {
    visibility: visible;
    position: static;
  }
  //   &__link{}

  //   &__list {
  //   }
}
.submenu {
  //   &__item {
  //   }
  //   &__link{
  //   }

  &__list {
    position: absolute;
    visibility: hidden;
  }
}
