.header-mobile {
  display: block;

  @media screen and(min-width: $laptop) {
    display: none;
  }

  &__btn-list {
    @media screen and (min-width: $pad) {
      display: none;
    }
  }
  &__btn-list-tab {
    display: none;

    @media screen and (min-width: $pad) {
      display: flex;
      align-items: center;
      margin-left: 250px;
    }

    @media screen and (min-width: $laptop) {
      display: none;
    }
  }

  &__flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    width: 24px;
    height: 14px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 2;

    & > span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #252424;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }
  }

  &__burger span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
  }

  &__burger span:nth-child(2) {
    top: 6px;
    transform-origin: left center;
  }

  &__burger span:nth-child(3) {
    top: 12px;
    transform-origin: left center;
  }

  &__burger.open span:nth-child(1) {
    transform: rotate(45deg);
  }

  &__burger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  &__burger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 17px;
  }

  &__menu {
    visibility: hidden;
    position: absolute;
    right: -100vw;
    transition: 250ms;
    top: 75px;

    @media screen and (min-width: $pad) {
      top: 85px;
    }
  }

  &__nav {
    overflow: auto;
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__nav-item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 20px;
      height: 1px;
      width: 100%;
      background-color: #252424;
    }
  }

  &__burger.open + .header-mobile__menu {
    visibility: visible;
    width: 100%;
    background-color: #ffffff;
    right: 0;
    transition: 250ms;
    box-shadow: 0px 4px 10px rgba(3, 12, 13, 0.59%);

    @media screen and (min-width: $pad) {
      width: 535px;
    }
  }

  &__btn-list {
    max-width: 320px;
    margin: 0 auto;
  }

  &__item:not(:last-child) {
    @media screen and (min-width: $mobile) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: $pad) {
      margin-right: 15px;
      margin-bottom: 0px;
    }
  }

  &__button-lang {
    display: flex;
    cursor: pointer;
    background: none;
    border: 1px #777777 solid;
  }

  &__link {
    display: block;
  }
}

.submenu-mobile {
  &__list {
    visibility: hidden;
    position: absolute;
  }
  &__list--active {
    visibility: visible;
    position: static;
  }
}
