.header-descktop {
  display: none;

  @media screen and (min-width: $laptop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn-list {
    display: flex;
    align-items: center;
  }
}
