.nav-descktop {
  &__menu-list {
    display: flex;
  }

  &__menu-item {
    position: relative;
    margin-right: 47px;
    padding-top: 32px;
    padding-bottom: 32px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 38px;
      right: -17px;
      display: block;
      width: 14px;
      height: 8px;
      background-image: url(../../../images/icon-arrow.svg);
    }
  }

  &__menu-item:hover > &__submenu-list {
    visibility: visible;
    background-color: #ffffff;
    padding: 15px;
    width: max-content;
    box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
  }

  &__submenu-list {
    position: absolute;
    visibility: hidden;
    top: 84px;
  }

  &__submenu-item {
    margin-bottom: 8px;
  }
  &__submenu-link {
    display: block;
    &:hover {
      color: brown;
    }
  }
}
