<form action="#" class="form">
	<h3 class="form__title">Registration form</h3>
	<label>
		Name
		<input
			type="text"
			placeholder="Your name"
			class="form__input"
			name="name"
			required
		/>
	</label>
	<label>
		Email
		<input
			type="email"
			placeholder="Enter your e-mail"
			class="form__input"
			name="email"
		/>
	</label>

	<!-- Кастомный селект -->
	//= "../components/select.html"

	<label>
		Phone
		<input
			type="tel"
			placeholder="Enter your phone"
			class="form__input"
			name="phone"
		/>
	</label>
	<label>
        <input
            type="checkbox"
            name="terms of the contract"
            class="form__checkbox"
        />

	<div class="checkbox">
		<input type="checkbox" id="cb1" required />
		<label for="cb1">Combined with a Model sentence</label>
	</div>
	<!-- <span class="form__checkbox-background"></span>
        <span class="form__checkbox-text">Combined with a Model sentence</span>
    </label> -->
	<button type="submit" class="form__btn">Send</button>
</form>
