<div class="header-mobile">
  <div class="header-mobile__flex-wrapper">
    <a class="logo header-mobile__logo" href="#">
      <svg width="30px" height="30px" class="logo__icon">
        <use class="icon-open-menu-svg" href="./images/sprite.svg#logo"></use>
      </svg>
      <p class="logo__text typography--subtitle">Smart trade</p>
    </a>
    <ul class="header-mobile__btn-list-tab">
      <li class="header-mobile__item">
        <button
          type="button"
          class="button button--transparent header-mobile__button"
        >
          Log in
        </button>
      </li>
      <li class="header-mobile__item">
        <button
          type="button"
          class="button button--small header-mobile__button"
        >
          Register
        </button>
      </li>
      <li class="header-mobile__item">
        <button type="button" class="header-mobile__button-lang">
          <svg width="26px" height="16px" class="header-mobile__icon-rus">
            <use class="icon-rus" href="./images/sprite.svg#icon-rus"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="header-mobile__burger burger-js">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="header-mobile__menu">
      <ul class="header-mobile__btn-list">
        <li class="header-mobile__item">
          <button type="button" class="button-log header-mobile__button">
            Log in
          </button>
        </li>
        <li class="header-mobile__item">
          <button type="button" class="button-reg header-mobile__button">
            Register
          </button>
        </li>
        <li class="header-mobile__item">
          <button type="button" class="header-mobile__btn-lang">
            <svg width="26px" height="16px" class="header-mobile__icon-rus">
              <use class="icon-rus" href="./images/sprite.svg#icon-rus"></use>
            </svg>
          </button>
        </li>
      </ul>
      <nav class="header-mobile__nav">
        <ul class="header-mobile__nav-list">
          <li class="header-mobile__nav-item">
            <a class="header-mobile__link" href="#">Group 1</a>
            <ul class="submenu-mobile__list">
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 1</a>
              </li>
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 2</a>
              </li>
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 3</a>
              </li>
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 4</a>
              </li>
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 5</a>
              </li>
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 6</a>
              </li>
            </ul>
          </li>
          <li class="header-mobile__nav-item">
            <a class="header-mobile__link qwe" href="#">Group 3</a>
            <ul class="submenu-mobile__list">
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 1</a>
              </li>
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 2</a>
              </li>
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 3</a>
              </li>
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 4</a>
              </li>
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 5</a>
              </li>
            </ul>
          </li>
          <li class="header-mobile__nav-item">
            <a class="header-mobile__link" href="#">Group 4</a>
            <ul class="submenu-mobile__list">
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 1</a>
              </li>
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 2</a>
              </li>
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 3</a>
              </li>
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 4</a>
              </li>
              <li class="submenu-mobile__item">
                <a class="submenu-mobile__link" href="#">Item 5</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
