<div class="header-mobile">
  <div class="header-mobile__flex-wrapper">
    <a class="logo header-mobile__logo" href="#">
      <svg width="30px" height="30px" class="logo__icon">
        <use class="icon-open-menu-svg" href="./images/sprite.svg#logo"></use>
      </svg>
      <p class="logo__text typography--subtitle">Smart trade</p>
    </a>
    <ul class="header-mobile__btn-list-tab">
      <li class="header-mobile__item">
        <button
          type="button"
          class="button button--transparent typography--button-text header-mobile__button"
        >
          Log in
        </button>
      </li>
      <li class="header-mobile__item">
        <button
          type="button"
          class="button button--small typography--button-text header-mobile__button"
        >
          Register
        </button>
      </li>
      <li class="header-mobile__item">
        <button type="button" class="header-mobile__button-lang">
          <svg width="26px" height="16px" class="header-mobile__icon-rus">
            <use class="icon-rus" href="./images/sprite.svg#icon-rus"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="header-mobile__burger burger-js">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="header-mobile__menu">
      <ul class="header-mobile__btn-list">
        <li class="header-mobile__item">
          <button type="button" class="button button--transparent typography--button-text header-mobile__button">
            Log in
          </button>
        </li>
        <li class="header-mobile__item">
          <button type="button" class="button button--small typography--button-text header-mobile__button">
            Register
          </button>
        </li>
      </ul>
      <nav class="header-mobile__nav">
        <div class="container">
          <ul class="header-mobile__nav-list">
            <li class="header-mobile__nav-item">
              <a class="header-mobile__link typography--uppercased typography--menu-text" href="#">Clients</a>
              <ul class="submenu-mobile__list">
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Walmart</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Amazon</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Exxon Mobil</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Apple</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Berkshire Hathaway</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">UnitedHealth Group</a>
                </li>
              </ul>
            </li>
            <li class="header-mobile__nav-item">
              <a class="header-mobile__link typography--uppercased typography--menu-text" href="#">Partners</a>
              <ul class="submenu-mobile__list">
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Johnson & Johnson</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">State Farm Insurance</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Target</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Facebook</a>
                </li>
              </ul>
            </li>
            <li class="header-mobile__nav-item">
              <a class="header-mobile__link typography--uppercased typography--menu-text" href="#">Buy currency</a>
              <ul class="submenu-mobile__list">
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Bitcoin</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Ethereum</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Cardano</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Tether</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">XRP</a>
                </li>
              </ul>
            </li>
            <li class="header-mobile__nav-item">
              <a class="header-mobile__link typography--uppercased typography--menu-text" href="#">Tools</a>
              <ul class="submenu-mobile__list">
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Current Ratio</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Ratios</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">DOM Snapshots</a>
                </li>
                <li class="submenu-mobile__item">
                  <a class="submenu-mobile__link" href="#">Trading Activity</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </nav>
    </div>
  </div>
</div>
