<div class="header-descktop">
  <a class="logo header-descktop__logo" href="#">
    <svg width="30px" height="30px" class="logo__icon">
      <use class="icon-logo" href="./images/sprite.svg#logo"></use>
    </svg>
    <p class="logo__text typography--subtitle">Smart trade</p>
  </a>
  <nav class="nav-descktop">
    <ul class="nav-descktop__menu-list">
      <li class="nav-descktop__menu-item">
        <a
          class="
            nav-descktop__menu-link
            typography--uppercased typography--menu-text
          "
          href="#"
          >Clients</a
        >
        <ul class="nav-descktop__submenu-list">
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Walmart</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Amazon</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Exxon Mobil</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Apple</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#"
              >Berkshire Hathaway</a
            >
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#"
              >UnitedHealth Group</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-descktop__menu-item">
        <a
          class="
            nav-descktop__menu-link
            typography--uppercased typography--menu-text
          "
          href="#"
          >Partners</a
        >
        <ul class="nav-descktop__submenu-list">
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Johnson & Johnson</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#"
              >State Farm Insurance</a
            >
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Target</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Facebook</a>
          </li>
        </ul>
      </li>
      <li class="nav-descktop__menu-item">
        <a
          class="
            nav-descktop__menu-link
            typography--uppercased typography--menu-text
          "
          href="#"
          >Buy currency</a
        >
        <ul class="nav-descktop__submenu-list">
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Bitcoin</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Ethereum</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Cardano</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Binance Coin</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Tether</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">XRP</a>
          </li>
        </ul>
      </li>
      <li class="nav-descktop__menu-item">
        <a
          class="
            nav-descktop__menu-link
            typography--uppercased typography--menu-text
          "
          href="#"
          >Tools</a
        >
        <ul class="nav-descktop__submenu-list">
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Current Ratio</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">DOM Snapshots</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Ratios</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Order Book</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Profit Ratio</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Trading Activity</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <ul class="header-descktop__btn-list">
    <li class="header-descktop__btn-item">
      <button
        type="button"
        class="button button--transparent header-descktop-btn-list__button"
      >
        Log in
      </button>
    </li>
    <li class="header-descktop__btn-item">
      <button type="button" class="button button--small header-descktop__btn">
        Register
      </button>
    </li>
    <li class="header-descktop__btn-item">
      <button type="button" class="header-descktop__btn-lang">
        <svg width="26px" height="16px" class="header-descktop__icon-rus">
          <use class="icon-rus" href="./images/sprite.svg#icon-rus"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
