<div class="header-descktop">
  <a class="logo header-descktop__logo" href="#">logo</a>
  <nav class="nav-descktop">
    <ul class="nav-descktop__menu-list">
      <li class="nav-descktop__menu-item">
        <a class="nav-descktop__menu-link" href="#">Group 1</a>
        <ul class="nav-descktop__submenu-list">
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 1</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 2</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 3</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 4</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 5</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 6</a>
          </li>
        </ul>
      </li>
      <li class="nav-descktop__menu-item">
        <a class="nav-descktop__menu-link" href="#">Group 2</a>
        <ul class="nav-descktop__submenu-list">
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 1</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 2</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 3</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 4</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 5</a>
          </li>
        </ul>
      </li>
      <li class="nav-descktop__menu-item">
        <a class="nav-descktop__menu-link" href="#">Group 3</a>
        <ul class="nav-descktop__submenu-list">
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 1</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 2</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 3</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 4</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 5</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 6</a>
          </li>
        </ul>
      </li>
      <li class="nav-descktop__menu-item">
        <a class="nav-descktop__menu-link" href="#">Group 4</a>
        <ul class="nav-descktop__submenu-list">
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 1</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 2</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 3</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 4</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 5</a>
          </li>
          <li class="nav-descktop__submenu-item">
            <a class="nav-descktop__submenu-link" href="#">Item 6</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <ul class="header-descktop-btn-list">
    <li class="header-descktop-btn-list__item">
      <button
        type="button"
        class="
          button button_transparent button-log
          header-descktop-btn-list__button
        "
      >
        Log in
      </button>
    </li>
    <li class="header-descktop-btn-list__item">
      <button
        type="button"
        class="button button_small button-reg header-descktop-btn-list__button"
      >
        Register
      </button>
    </li>
    <li class="header-btn-list__item">
      <button type="button" class="header-descktop-btn-list__button-lang">
        ENG
      </button>
    </li>
  </ul>
</div>
