<div id="splide" class="splide">
  <div class="slider splide__track">
    <ul class="slider__list splide__list">
      <li class="slider__item splide__slide">
        <article class="slider__card">
          <h3 class="slider__title">Google Inc</h3>
          <p class="slider__price">$1 587.9</p>
          <p class="slider__percent">- 2.68%</p>
          <button class="slider__button">Start trading</button>
          <img src="./images/slider/logo-1.svg" alt="icon google" />
        </article>
      </li>
      <li class="slider__item splide__slide">
        <article class="slider__card">
          <h3 class="slider__title">Apple Inc</h3>
          <p class="slider__price">$115.91</p>
          <p class="slider__percent">0.46%</p>
          <button class="slider__button">Start trading</button>
          <img src="./images/slider/logo-2.svg" alt="icon Apple" />
        </article>
      </li>
      <li class="slider__item splide__slide">
        <article class="slider__card">
          <h3 class="slider__title">Facebook Inc</h3>
          <p class="slider__price">$282.80</p>
          <p class="slider__percent">0.60%</p>
          <button class="slider__button">Start trading</button>
          <img src="./images/slider/logo-3.svg" alt="icon Facebook" />
        </article>
      </li>
      <li class="slider__item splide__slide">
        <article class="slider__card">
          <h3 class="slider__title">Tesla Motors Inc</h3>
          <p class="slider__price">$425.08</p>
          <p class="slider__percent">-1.20%</p>
          <button class="slider__button">Start trading</button>
          <img src="./images/slider/logo-4.svg" alt="icon Tesla" />
        </article>
      </li>
      <li class="slider__item splide__slide">
        <article class="slider__card">
          <h3 class="slider__title">Amazon Inc</h3>
          <p class="slider__price">$365.33</p>
          <p class="slider__percent">18.1%</p>
          <button class="slider__button">Start trading</button>
          <img src=".//images/slider/logo-5.svg" alt="icon Amazon" />
        </article>
      </li>
      <li class="slider__item splide__slide">
        <article class="slider__card">
          <h3 class="slider__title">Snap Inc</h3>
          <p class="slider__price">$842.2</p>
          <p class="slider__percent">- 3.5%</p>
          <button class="slider__button">Start trading</button>
          <img src="./images/slider/logo-6.svg" alt="icon Snap" />
        </article>
      </li>
    </ul>
    <ul class="pagination-slider">
      <li class="pagination-slider__item">
        <button type="button" class="pagination-slider__btn">.</button>
      </li>
      <li class="pagination-slider__item">
        <button type="button" class="pagination-slider__btn">.</button>
      </li>
      <li class="pagination-slider__item">
        <button type="button" class="pagination-slider__btn">.</button>
      </li>
    </ul>
  </div>
</div>
