.hero {
  padding-top: 115px;
  padding-bottom: 150px;
  background-image: linear-gradient(
      rgba(15, 16, 16, 0.9),
      rgba(15, 16, 16, 0.8)
    ),
    url('../../images/hero/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: $pad) {
    padding-top: 200px;
  }

  &__title {
    color: $white;
    margin-bottom: 30px;
  }

  &__subtitle {
    color: $white;
    margin-bottom: 25px;
  }

  &__list {
    @media screen and (min-width: $pad) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    &:first-child {
      margin-bottom: 60px;
    }

    @media screen and (min-width: $pad) {
      width: calc(50% - 40px);

      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}
