.hero {
    padding-top: 400px;
    padding-bottom: 300px;
    background-image: linear-gradient(rgba(15, 16, 16, 0.9), rgba(15, 16, 16, 0.8)),url('../../images/hero/hero-bg.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}