.button {
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: #24c9d3;
  border: 1px solid #24c9d3;
  color: #ffffff;
  border-radius: 50px;
  transition: 350ms;
  width: 100%;

  @media screen and (min-width: $pad) {
    width: auto;
  }

  &:hover {
    background: #0da8b1;
    border: 1px solid #0da8b1;
    color: #ffffff;
    text-decoration: none;
    transform: scale(none);

    @media screen and (min-width: $pad) {
      transform: scale(1.1);
    }
  }

  &:hover div {
    transition: 150ms;
    margin-left: 100%;
    transform: translateX(-110%);
  }

  &:active {
    background: #018990;
    border: 1px solid #018990;
    color: #ffffff;
    text-decoration: none;
  }

  &--transparent {
    background: none;
    color: #000000;
    border: 1px solid #24c9d3;
    padding: 8px 35px;

    &:hover {
      text-decoration: none;
      background: none;
      color: #ffffff;
      background: #0da8b1;
      border: 1px solid #0da8b1;
    }
  }

  &--small {
    padding: 8px 35px;
    
  }

  &--large {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 67px;
    padding-right: 30px;

    &:hover {
      padding-left: 30px;
      padding-right: 67px;
      transition: 500ms;
    }
  }

  &--icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #f4fffd;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    transition: 400ms;
    background-image: url('../../images/btn-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}
