.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 798px;
  }
}

@media screen and (min-width: 1160px) {
  .container {
    max-width: 1200px;
  }
}
