.call-action {
    &__description {
        width: 510px;
        margin-right: 40px;
        padding-top: 6px;
    }
    &__flex-wrapper {
        padding-top: 166px;
        padding-bottom: 221px;

        display: flex;
        justify-content: center;
    }
    &__item {
        position: relative;
        padding-left: 52px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 2px;
            transform: translate(-16px, 0px);
            background-color: rgba(235, 87, 87, 1);
        }
    }
    //   &__list {
    //   }
    &__number {
        position: absolute;
        top: 0;
        left: 0;
        color: rgba(235, 87, 87, 1);
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
    }
    &__subtitle {
        font-family: $main-font;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;

        color: $title-text;

        margin-bottom: 10px;
    }
    &__text {
        margin-bottom: 34px;
    }
    &__text-subtitle {
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;

        color: $body;
    }
    &__title {
        margin-bottom: 30px;
    }
    &__wrapper {
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            // background-blend-mode: multiply;
            top: -34px;
            left: 0;
            width: 2253px;
            height: 1241px;

            background: #f6f6f6;
            background-image: url('../images/call-action/paral.png');
            z-index: -1;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}
