.where-get {
    &__subtitle {
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;

        text-align: center;
        color: $body-light;
        width: 714px;
        margin-left: auto;
        margin-right: auto;
    }
    &__title {
        font-family: $main-font;
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 49px;

        text-align: center;

        color: $title-light;

        padding-top: 125px;
        margin-bottom: 30px;
    }
    &__wrapper {
        background: linear-gradient(
                180deg,
                #282828 0%,
                rgba(46, 46, 46, 0.7) 76.56%
            ),
            url('../images/where-get/team.jpg');
        opacity: 0.92;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 1902px;
        background-position: top;
    }
}
